<div class="row">
  <div class="col-xs-12">
    <!-- TEST FORM -->
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Transmission list</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="example1" datatable class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Transmission Name</th>
            <th>Transmission Type</th>
            <th>Partner Name</th>
            <th>Document Type</th>
            <th>Document Version</th>
            <th>Date Creation</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Full1</td>
            <td>FTP</td>
            <td>Shell</td>
            <td>Doc1.1</td>
            <td>IATA</td>
            <td>07/07/2015</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <button type="button" (click)="onAdd()" class="btn btn-default">Add</button>
        <button type="button" (click)="onUpdate()" class="btn btn-default">Update</button>
        <button type="button" (click)="onDelete()" class="btn btn-default">Delete</button>
        <button type="button" (click)="onReturn()" class="btn btn-info pull-right">Return</button>
      </div>
      <!-- /.box-footer -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
