<div class="row">
  <div class="col-xs-12">
    <!-- TEST FORM -->
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Business Partner list</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="table1" datatable class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Industry</th>
              <th>Description</th>
              <th>Location</th>
              <th>Date creation</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Shell</td>
              <td>Gas</td>
              <td>Petroleum Oil</td>
              <td>San Diego, CA</td>
              <td>07/07/2015</td>
            </tr>
            <tr>
              <td>Exxon</td>
              <td>Gas</td>
              <td>Petroleum Oil</td>
              <td>Houston, TX</td>
              <td>07/04/2015</td>
            </tr>
            <tr>
              <td>AVG Aviation</td>
              <td>Aviation</td>
              <td>Business Aviation</td>
              <td>Seattle, WA</td>
              <td>07/05/2013</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <button type="button" (click)="onAdd()" class="btn btn-default">Add</button>
        <button type="button" (click)="onUpdate()" class="btn btn-default">Update</button>
        <button type="button" (click)="onDelete()" class="btn btn-default">Delete</button>
        <button type="button" (click)="onReturn()" class="btn btn-info pull-right">Return</button>
      </div>
      <!-- /.box-footer -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
